.commonDiv {
  background-color: black;
  margin-top: 20px;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20px;
  justify-content: space-around;
  padding: 10px;
}
.footer > .com {
  text-align: center;
  color: gray;
  text-decoration: none;
}
/* .detailsDiv2{
    grid-column: 10/12;
} */
ul {
  list-style: none;
}
ul > li > a {
  color: white;
  text-decoration: none;
}
.com > a {
  text-decoration: none;
}
/* .lastDiv {
  background-color: black;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1f);
  grid-gap: 15px;
} */

.copy {
  text-align: center;
  padding: 10px;
}

/* div > h6 {
  color: white;
} */
