#imgId {
  height: 50px;
  width: 100px;
  margin-left: 20px;
}

.contain {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 5px;
  padding: 20px;
}
.contain:nth-last-child() {
  grid-column-end: 0;
}
.Nav {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-auto-rows: 50px;
  justify-content: right;
  align-items: center;
}
/* a {
  text-decoration: none;
  margin-right: 20px;
  color: navy;
  padding: 5px;
} */
.Nav a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 5px;
}
.Nav Button {
  border-radius: 20px;
}
